/* 
                    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main img{
    width: 100%;
}

/* 
                    HEADER
 */

header{
    line-height: 70px;
    background-color: #FF6900;
    box-shadow: 0 0 3px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

header nav, .container-footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#type{
    width: 170px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

header > nav a{
    color: white;
}

#type a{
    font-weight: bold;
    text-decoration: none;
}

.logo{
    height: 30px;
    display: flex;
    align-self: center;
}

#icon{
    width: 70px;
    display: flex;
    justify-content: space-between;
}

/* 
                    MAIN 
*/

.container-main{
    width: 80%;
    min-height: 1500px;
    margin: auto;
    margin-top: 150px;
}

.row{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.card-box{
    width: 30%;
    height: 100%;
}

.card{
    width: 100%;
    display: flex;
    position: relative;
}

.box-discount{
    min-width: 100px;
    min-height: 10px;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 3;
}

.discount, .plus{
    padding: 5px 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.discount{
    background-color: red;
}

.plus{
    background-color: green;
}

.like{
    color: black;
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: white;
    padding: 20px;
    z-index: 4;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.price{
    color: red;
    font-weight: bold;
}

.price, .original-price{
    font-size: 15px;
    display: inline-block;
}

.original-price{
    text-decoration: line-through;
}

/* 
                    FOOTER 
*/

footer{
    max-height: 150px;
    background-color: #1A1A1A;
    box-shadow: 0px 1px 5px;
    border-bottom: 1px white solid;
}

.container-footer{
    height: 120px;
    color: white;
    width: 80%;
}


#info-footer{
    max-width: 500px;
}

.srl{
    font-size: 20px;
    font-weight: bold;
}

#info,
.icon-social{
    margin-top: 10px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
}

#info{
    width: 400px;
}

.social div:first-child{
    font-size: 13px;
    font-weight: bold;
}

.container-footer a{
    display: inline-block;
    text-decoration: none;
    color: white;
}

#info > a {
    font-size: 14px;
}

.icon-social{
    width: 120px;
    font-size: 20px;
}

/* 
                    HOVER 
*/

.like:hover{
    color: red;
    transition: 0.5s;
}

.img-base:hover{
    opacity: 0;
    transition: 0.3s;
}

.img-base:not(:hover){
    opacity: 100;
    transition: 0.3s;
}

.img-base{
    z-index: 1;
    position: absolute;
}

/* DEBUG */

/* .debug header nav{
    background-color: aqua;
    border: 1px dashed black;
}

.debug #type{
    background-color: blue;
    border: 1px dashed blueviolet;
} */

/* .debug .container-main{
    background-color: springgreen;
    border: 1px solid black;
}

.debug .row{
    background-color: rebeccapurple;
    border: 1px dashed red;
}

.card-box{
    background-color: blanchedalmond;
    border: 2px dashed blue;
}

.card{
    border: 1px dashed black;
} */